<div class="container mt-5">
  <button type="button" class="btn btn-primary" routerLink="/generate-report">Generate Report</button>
   <br><br>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Request Id</th>
        <th>User Id</th>
        <th>Asset Id</th>
        <th>Employee Id</th>
        <th>Asset Name</th>
        <th>Quantity</th>
        <th>Allocated/Unallocated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let employee of employees;index as i'>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
