<div class="alert alert-success" *ngIf='message'>{{ message }}</div>
<div class ="col-md-4 offset-md-4 mt-5 mb-3">
  <button type="button" class="btn btn-primary"  routerLink="/profile-settings">General Settings</button>&nbsp;
  <button type="button" class="btn btn-primary" disabled routerLink="/change-password">Change Password</button>
   <br><br>
  <form #editProfileForm='ngForm' (ngSubmit)='updateUser(editProfileForm)'>
     <div class="card">
       
      <div class="card-header">
        <h4>General Settings : </h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="hidden" name="userId" id="userId" class="form-control" name="userId" #userId='ngModel' [(ngModel)]='userToUpdate.userId' >
        </div>
        <div class="form-group">
          <!-- <label for="fullName">Full Name</label> -->
          <input #fullName='ngModel' name="fullName" 
           ngModel type="hidden" class="form-control" id="fullName" placeholder="enter your full name"
          minlength='3' maxlength="20"  [(ngModel)]='userToUpdate.fullName' required>
          <div  *ngIf='fullName.invalid && fullName.touched'>
            <div class="alert alert-danger" *ngIf='fullName.errors.required'>
              This field is mandatory!
            </div>
            <div class="alert alert-danger" *ngIf='fullName.errors.minlength'>
              This field accepts atleast 3 and max 20 characters !
            </div>
          </div>
        </div>
        <div class="form-group ">
          <!-- <label for="email">Email</label> -->
          <input type="hidden" class="form-control" id="email" required minlength="8" placeholder="example@mail.com" #email='ngModel' ngModel name="email" [(ngModel)]='userToUpdate.email' required>
          <div  *ngIf='email.touched && email.invalid'>
            <div class="alert alert-danger" *ngIf='email.errors.required'>
              This field is mandatory
            </div>
            <div class="alert alert-danger" *ngIf='email.errors.minlength'>
              This field accepts atleast 8 characters!
            </div>
            <div class="alert alert-danger" *ngIf='email'>
              Please enter a valid email with @  !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">Password (* enter your password to save the changes)</label>
          <input type="newPassword" class="form-control" id="newPassword" required minlength="6" placeholder="Example@1" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" #newPassword='ngModel' ngModel name="newPassword" [(ngModel)]='userToUpdate.newPassword' required>
          <div  *ngIf='newPassword.touched && newPassword.invalid'>
            <div class="alert alert-danger" *ngIf='newPassword.errors.required'>
              This field is mandatory!
            </div>
            <div class="alert alert-danger" *ngIf='newPassword.errors.minlength'>
              This field accepts atleast 6 and max of 15 characters !
            </div>
            <div class="alert alert-danger" *ngIf='newPassword.errors.pattern'>
              It should contain a combination of atleast one uppercase , alphabets , numbers and special characters !
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" id="password" placeholder="Example@1" pattern="^([a-zA-Z0-9@*#]{8,15})$"  minlength="6" maxlength="15" #password='ngModel' ngModel name="password" [(ngModel)]='userToUpdate.password' required>
          <div  *ngIf='password.touched && password.invalid'>
            <div class="alert alert-danger" *ngIf='password.errors.required'>
              This field is mandatory!
            </div>
            <div class="alert alert-danger" *ngIf='password.errors.minlength'>
              This field accepts atleast 6 and max of 15 characters !
            </div>
            <div class="alert alert-danger" *ngIf='password.errors.pattern'>
              It should contain a combination of atleast one uppercase , alphabets , numbers and special characters !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password(*required field to set a new password !)</label>
          <input type="password" class="form-control" id="confirmPassword" required minlength="6" placeholder="Example@1" pattern="^([a-zA-Z0-9@*#]{8,15})$" #confirmPassword='ngModel' ngModel name="confirmPassword" [(ngModel)]='userToUpdate.confirmPassword' required>
          <div  *ngIf='confirmPassword.touched && confirmPassword.invalid'>
            <div class="alert alert-danger" *ngIf='confirmPassword.errors.required'>
              This field is mandatory!
            </div>
            <div class="alert alert-danger" *ngIf='confirmPassword.errors.minlength'>
              This field accepts atleast 6 and max of 15 characters !
            </div>
            <div class="alert alert-danger" *ngIf='confirmPassword.errors.pattern'>
              It should contain a combination of atleast one uppercase , alphabets , numbers and special characters !
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="mobile">Phone Number</label> -->
          <input type="hidden" class="form-control" id="mobile" minlength="10" placeholder="+91-" pattern="^[789]\d{9}$" #mobile='ngModel' ngModel name='mobile' [(ngModel)]='userToUpdate.mobile' required>
          <div  *ngIf='mobile.touched && mobile.invalid'>
            <div class="alert alert-danger" *ngIf='mobile.errors.required'>
              This field is mandatory!
            </div>
            <div class="alert alert-danger" *ngIf='mobile.errors.minlength'>
              This field accepts minimum of 10 digits !
            </div>
            <div class="alert alert-danger" *ngIf='mobile.errors.pattern'>
              This field accepts minimum of 10 digits !
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="role" id="role" class="form-control" name="role" #role='ngModel' [(ngModel)]='userToUpdate.role' ngModel value="admin" >
        </div>         
      <div class="card-footer">
        <button type="submit" class="btn btn-primary float-right">Save</button>
      </div>
    </div>
    </div>
     </form>
</div>
