<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>

    </style>
</head>

<body  class="bg">
  <div class="b1">
    <div class="s3">
        <!-- <div *ngFor="let user of users"> -->
        <img class="p"  src="{{users.userImage}}" alt="" height="350" width="350"><br>
        <h2 >{{users.fullName}}</h2>
        <h5>User ID : {{users.userId}}</h5>
        <h5>Email ID : {{users.email}}</h5>
        <h5>Mobile No. :{{users.mobile}}</h5>
        <h5>Address : {{users.address}}</h5>


        <a href=""></a>

      <!-- </div> -->
        <img class="p1" href="" src="https://lh3.googleusercontent.com/2sREY-8UpjmaLDCTztldQf6u2RGUtuyf6VT5iyX3z53JS4TdvfQlX-rNChXKgpBYMw"
            alt="" height="50" width="50">
            <img class="p2" src="https://www.facebook.com/images/fb_icon_325x325.png" alt="" height="50" width="50">
            <img class="p3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" alt="" height="50" width="50">

            

          </div>
    </div>

</body>

</html>